@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background-image:url(rogo.jpg) ;
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}
.hidden {
  opacity:0;
}
.console-container {
  
  font-family:Khula;
  font-size:5em;
  text-align:center;
  height:200px;
  width:1000px;
  display:block;
  position:absolute;
  color:none;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  -webkit-text-stroke: 2px #000;
}




*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

.btn,
a.btn,
button.btn {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: rgb(248, 223, 0);
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #fcfcfc;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
  transform: translateX(-9%) translateY(-25%) rotate(135deg);
}
a{
  position:fixed;
  top:1100px;
  left:280px;
}
